{
  "openapi": "3.0.0",
  "info": {
    "title": "Blueticks API",
    "version": "2.0.0",
    "description": "Public API for Blueticks WhatsApp automation."
  },
  "servers": [
    {
      "url": "https://api.blueticks.co"
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Account metadata for the authenticated API key."
    },
    {
      "name": "Audiences",
      "description": "Reusable contact lists used as targets for messages and campaigns."
    },
    {
      "name": "Campaigns",
      "description": "Schedule audiences for paced bulk delivery with pause/resume/cancel controls."
    },
    {
      "name": "Chats",
      "description": "Read and manage WhatsApp chats on the connected engine."
    },
    {
      "name": "Contacts",
      "description": "Read WhatsApp contacts known to the connected engine."
    },
    {
      "name": "Engines",
      "description": "Inspect or control the WhatsApp engine(s) connected to the workspace."
    },
    {
      "name": "Groups",
      "description": "Create and manage WhatsApp groups via the connected engine."
    },
    {
      "name": "Messages",
      "description": "Send, list, search, react to, and fetch media for individual WhatsApp messages on the connected engine."
    },
    {
      "name": "Newsletters",
      "description": "Create and inspect WhatsApp newsletters (channels) via the connected engine."
    },
    {
      "name": "Ping",
      "description": "Connectivity probe for the Blueticks API and the account's WhatsApp engine(s)."
    },
    {
      "name": "Scheduled Messages",
      "description": "Send or schedule WhatsApp messages via the user-messages queue. Each request creates a queued send — set `sendAt` (RFC 3339) to defer delivery, omit it to send immediately. List, retrieve, edit, and cancel queued sends."
    },
    {
      "name": "Webhooks",
      "description": "Register URLs to receive HTTPS POSTs on Blueticks events."
    }
  ],
  "paths": {
    "/v1/ping": {
      "get": {
        "tags": [
          "Ping"
        ],
        "summary": "Ping",
        "description": "Health and connectivity probe. Confirms the Blueticks API server is live (`api: \"ok\"`) and lists the WhatsApp engines currently connected to this account in `whatsappConnections`. Each connection is labelled `gateway` (a remote, server-side engine — the Blueticks 24/7 gateway / baileys pod) or `regular` (the user's own WhatsApp Web browser extension). An empty `whatsappConnections` array means no WhatsApp is connected — this is not an error, and `message` explains it. Requires a valid API key; no scope required.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ],
                      "description": "Always `true` on success responses."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "api": {
                          "type": "string",
                          "enum": [
                            "ok"
                          ],
                          "description": "Blueticks API server liveness. \"ok\" means the API server is up and served this request."
                        },
                        "accountId": {
                          "type": "string",
                          "description": "The account (workspace) the API key belongs to."
                        },
                        "whatsappConnections": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "description": "Stable id of the live engine session (its MQTT presence client id)."
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "gateway",
                                  "regular"
                                ],
                                "description": "Engine kind. \"gateway\" = a remote, server-side engine (Blueticks 24/7 gateway / baileys pod). \"regular\" = the user's own WhatsApp Web browser extension."
                              },
                              "connected": {
                                "type": "boolean",
                                "enum": [
                                  true
                                ],
                                "description": "Always true — an entry appears only while its presence heartbeat is live."
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "connected"
                            ],
                            "additionalProperties": false
                          },
                          "description": "WhatsApp engines currently connected for this account. Empty means no WhatsApp is connected."
                        },
                        "message": {
                          "type": "string",
                          "description": "Present only when whatsappConnections is empty; explains the empty state."
                        }
                      },
                      "required": [
                        "api",
                        "accountId",
                        "whatsappConnections"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "ping.list"
      }
    },
    "/v1/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account",
        "description": "Retrieve the account the API key belongs to.",
        "security": [
          {
            "BearerAuth": [
              "account:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ],
                      "description": "Always `true` on success responses."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Stable identifier for the account."
                        },
                        "name": {
                          "type": "string",
                          "description": "Account display name."
                        },
                        "userEmail": {
                          "type": "string",
                          "nullable": true,
                          "description": "Email address of the user the API key belongs to, or null if unavailable."
                        },
                        "timezone": {
                          "type": "string",
                          "nullable": true,
                          "description": "IANA timezone (e.g. \"America/New_York\"), or null if unset."
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "RFC 3339 timestamp of account creation."
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "userEmail",
                        "timezone",
                        "createdAt"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "account.list"
      }
    },
    "/v1/scheduled-messages": {
      "get": {
        "tags": [
          "Scheduled Messages"
        ],
        "summary": "List scheduled messages",
        "description": "List messages in the user-messages queue (all sources: API, dashboard, extension), newest first (offset-paginated). Optionally filter by `chatId` and/or lifecycle `status`.",
        "security": [
          {
            "BearerAuth": [
              "messages:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "chatId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^[0-9]+(?:-[0-9]+)?@(?:c\\.us|g\\.us|newsletter)$"
            },
            "description": "Filter to messages addressed to this WhatsApp JID. Matches the recipient stored on the queued/scheduled doc — for sends to a phone number, the JID is `<phone>@c.us`."
          },
          {
            "name": "searchToken",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 200
            },
            "description": "Search token; when set, only items whose name matches are returned."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "confirmed",
                "received",
                "read",
                "played",
                "failed"
              ]
            },
            "description": "Filter by lifecycle status: `pending` (accepted, waiting), `confirmed` (WhatsApp accepted — has waMessageKey), `received` (double grey tick), `read` (double blue tick), `played` (voice played), `failed`."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction by timestamp: `asc` (oldest first) or `desc` (newest first, default)."
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Number of items to skip before the page (default 0)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Page size (1-200, default 50)."
          }
        ],
        "responses": {
          "200": {
            "description": "messages",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ],
                      "description": "Always `true` on success responses."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "waMessageKey": {
                            "type": "object",
                            "properties": {
                              "fromMe": {
                                "type": "boolean"
                              },
                              "remote": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "_serialized": {
                                "type": "string"
                              },
                              "participant": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "fromMe"
                            ],
                            "additionalProperties": false,
                            "nullable": true
                          },
                          "to": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "text",
                              "media",
                              "poll"
                            ],
                            "description": "Message kind that was sent."
                          },
                          "text": {
                            "type": "string",
                            "nullable": true
                          },
                          "mediaUrl": {
                            "type": "string",
                            "nullable": true
                          },
                          "mediaKind": {
                            "type": "string",
                            "enum": [
                              "image",
                              "video",
                              "audio",
                              "document",
                              "sticker",
                              "voice",
                              "gif"
                            ],
                            "nullable": true
                          },
                          "pollQuestion": {
                            "type": "string",
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "confirmed",
                              "received",
                              "read",
                              "played",
                              "failed"
                            ]
                          },
                          "sendAt": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "confirmedAt": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "receivedAt": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "readAt": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "playedAt": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "failedAt": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true
                          },
                          "failureReason": {
                            "type": "string",
                            "nullable": true
                          },
                          "linkPreview": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "nullable": true
                              },
                              "description": {
                                "type": "string",
                                "nullable": true
                              },
                              "canonicalUrl": {
                                "type": "string",
                                "nullable": true
                              },
                              "thumbnail": {
                                "type": "string",
                                "nullable": true
                              }
                            },
                            "required": [
                              "title",
                              "description",
                              "canonicalUrl",
                              "thumbnail"
                            ],
                            "additionalProperties": false,
                            "nullable": true
                          }
                        },
                        "required": [
                          "waMessageKey",
                          "to",
                          "type",
                          "text",
                          "mediaUrl",
                          "mediaKind",
                          "pollQuestion",
                          "status",
                          "sendAt",
                          "createdAt",
                          "confirmedAt",
                          "receivedAt",
                          "readAt",
                          "playedAt",
                          "failedAt",
                          "failureReason"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Page size echoed back from the request."
                    },
                    "skip": {
                      "type": "integer",
                      "description": "Offset echoed back from the request."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of items matching the query, across all pages."
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "limit",
                    "skip",
                    "total"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "scheduled-messages.list"
      }
    },
    "/v1/scheduled-messages/{id}": {
      "get": {
        "tags": [
          "Scheduled Messages"
        ],
        "summary": "Get scheduled message",
        "description": "Get the current status of a message by ID.",
        "security": [
          {
            "BearerAuth": [
              "messages:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ],
                      "description": "Always `true` on success responses."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "waMessageKey": {
                          "type": "object",
                          "properties": {
                            "fromMe": {
                              "type": "boolean"
                            },
                            "remote": {
                              "type": "string"
                            },
                            "id": {
                              "type": "string"
                            },
                            "_serialized": {
                              "type": "string"
                            },
                            "participant": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "fromMe"
                          ],
                          "additionalProperties": false,
                          "nullable": true
                        },
                        "to": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "text",
                            "media",
                            "poll"
                          ],
                          "description": "Message kind that was sent."
                        },
                        "text": {
                          "type": "string",
                          "nullable": true
                        },
                        "mediaUrl": {
                          "type": "string",
                          "nullable": true
                        },
                        "mediaKind": {
                          "type": "string",
                          "enum": [
                            "image",
                            "video",
                            "audio",
                            "document",
                            "sticker",
                            "voice",
                            "gif"
                          ],
                          "nullable": true
                        },
                        "pollQuestion": {
                          "type": "string",
                          "nullable": true
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "confirmed",
                            "received",
                            "read",
                            "played",
                            "failed"
                          ]
                        },
                        "sendAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "confirmedAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "receivedAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "readAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "playedAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "failedAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "failureReason": {
                          "type": "string",
                          "nullable": true
                        },
                        "linkPreview": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string",
                              "nullable": true
                            },
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "canonicalUrl": {
                              "type": "string",
                              "nullable": true
                            },
                            "thumbnail": {
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "required": [
                            "title",
                            "description",
                            "canonicalUrl",
                            "thumbnail"
                          ],
                          "additionalProperties": false,
                          "nullable": true
                        }
                      },
                      "required": [
                        "waMessageKey",
                        "to",
                        "type",
                        "text",
                        "mediaUrl",
                        "mediaKind",
                        "pollQuestion",
                        "status",
                        "sendAt",
                        "createdAt",
                        "confirmedAt",
                        "receivedAt",
                        "readAt",
                        "playedAt",
                        "failedAt",
                        "failureReason"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "scheduled-messages.get"
      },
      "patch": {
        "tags": [
          "Scheduled Messages"
        ],
        "summary": "Update scheduled message",
        "description": "Edit a previously-queued message that has not dispatched yet (status `pending`).\n\nAccepts the **same flat body fields as [Schedule message](#schedule-message)** — `type`, `text`, `mediaUrl`, `mediaBase64`, `mediaKind`, `mediaFilename`, `pollQuestion`, `pollOptions`, `pollAllowMultiple`, `sendAt`, `replyTo`, `secret` — but **every field is optional**. Send only the fields you want to change; at least one is required. The recipient is fixed at schedule time (it was the `{chatId}` path param) and cannot be changed here.\n\nNotes:\n- A new `mediaUrl` / `mediaBase64` is re-hosted to GCS just like on create; `mediaKind` / `mediaFilename` can be edited on their own.\n- Editing `text` re-derives the link-preview card (auto-attached when the text contains a URL).\n- `sendAt` reschedules (must be ≥10s in the future, ≤365 days).\n- Returns 400 once the message has advanced past the editable window (status not `pending`).",
        "security": [
          {
            "BearerAuth": [
              "messages:write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "text",
                      "media",
                      "poll"
                    ]
                  },
                  "text": {
                    "type": "string",
                    "maxLength": 4096,
                    "description": "Text body (required for type=text) or optional media caption (type=media). Up to 4096 chars. Mention a contact inline with `@[Display Name](<jid>)`, e.g. `Hi @[Jon Daw](xxxxxxxxxxxx@c.us)`."
                  },
                  "mediaUrl": {
                    "type": "string",
                    "maxLength": 2048,
                    "description": "Media source URL (https only). One of mediaUrl or mediaBase64 is required for media sends; mediaUrl wins when both are present."
                  },
                  "mediaBase64": {
                    "type": "string",
                    "maxLength": 15728640,
                    "description": "Raw media bytes, base64-encoded (or a data: URL). Used when mediaUrl is absent. For a file upload, send multipart/form-data with a `mediaFile` part instead — it is converted to this."
                  },
                  "mediaKind": {
                    "type": "string",
                    "enum": [
                      "image",
                      "video",
                      "audio",
                      "document",
                      "sticker",
                      "voice",
                      "gif"
                    ],
                    "description": "Media kind (image · video · audio · document · sticker · voice · gif). Optional — auto-detected from the URL / content-type when omitted."
                  },
                  "mediaFilename": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Filename shown on the attachment (type=media). Optional — derived from the URL / uploaded file when omitted."
                  },
                  "sendAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "replyTo": {
                    "type": "string",
                    "maxLength": 256,
                    "description": "Wire `key` of a prior message to quote-reply (from MessageResponse.key). Empty string = no reply."
                  },
                  "secret": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256,
                    "description": "Opaque correlation token you choose to tag this message with. It is stored on the message and carried into WhatsApp's `messageSecret`, so you can match it back to your own records later. NOT a deduplication key: sending the same `secret` twice creates two separate messages. To make retries safe (at-most-once send), use the `Idempotency-Key` header instead. When omitted, the API encodes the internal message id here for delivery-status matching — only set this if you have your own correlation scheme."
                  },
                  "pollQuestion": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "Poll question (type=poll). Required for poll sends."
                  },
                  "pollAllowMultiple": {
                    "type": "boolean",
                    "description": "Allow selecting multiple poll options (type=poll). Default false."
                  },
                  "pollOptions": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 100
                    },
                    "description": "Poll options (type=poll). 2–12 items."
                  }
                },
                "additionalProperties": false
              },
              "examples": {
                "edit_text": {
                  "summary": "Change the text body",
                  "value": {
                    "text": "Updated reminder: meeting moved to 4pm"
                  }
                },
                "reschedule": {
                  "summary": "Reschedule only",
                  "value": {
                    "sendAt": "2026-12-31T15:00:00Z"
                  }
                },
                "swap_media": {
                  "summary": "Replace the attached media",
                  "value": {
                    "mediaUrl": "https://cdn.example.com/new.pdf",
                    "mediaKind": "document",
                    "mediaFilename": "new.pdf"
                  }
                },
                "edit_poll": {
                  "summary": "Edit poll question and options",
                  "value": {
                    "pollQuestion": "Pizza or sushi?",
                    "pollOptions": [
                      "Pizza",
                      "Sushi"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ],
                      "description": "Always `true` on success responses."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "waMessageKey": {
                          "type": "object",
                          "properties": {
                            "fromMe": {
                              "type": "boolean"
                            },
                            "remote": {
                              "type": "string"
                            },
                            "id": {
                              "type": "string"
                            },
                            "_serialized": {
                              "type": "string"
                            },
                            "participant": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "fromMe"
                          ],
                          "additionalProperties": false,
                          "nullable": true
                        },
                        "to": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "text",
                            "media",
                            "poll"
                          ],
                          "description": "Message kind that was sent."
                        },
                        "text": {
                          "type": "string",
                          "nullable": true
                        },
                        "mediaUrl": {
                          "type": "string",
                          "nullable": true
                        },
                        "mediaKind": {
                          "type": "string",
                          "enum": [
                            "image",
                            "video",
                            "audio",
                            "document",
                            "sticker",
                            "voice",
                            "gif"
                          ],
                          "nullable": true
                        },
                        "pollQuestion": {
                          "type": "string",
                          "nullable": true
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "pending",
                            "confirmed",
                            "received",
                            "read",
                            "played",
                            "failed"
                          ]
                        },
                        "sendAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "confirmedAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "receivedAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "readAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "playedAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "failedAt": {
                          "type": "string",
                          "format": "date-time",
                          "nullable": true
                        },
                        "failureReason": {
                          "type": "string",
                          "nullable": true
                        },
                        "linkPreview": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string",
                              "nullable": true
                            },
                            "description": {
                              "type": "string",
                              "nullable": true
                            },
                            "canonicalUrl": {
                              "type": "string",
                              "nullable": true
                            },
                            "thumbnail": {
                              "type": "string",
                              "nullable": true
                            }
                          },
                          "required": [
                            "title",
                            "description",
                            "canonicalUrl",
                            "thumbnail"
                          ],
                          "additionalProperties": false,
                          "nullable": true
                        }
                      },
                      "required": [
                        "waMessageKey",
                        "to",
                        "type",
                        "text",
                        "mediaUrl",
                        "mediaKind",
                        "pollQuestion",
                        "status",
                        "sendAt",
                        "createdAt",
                        "confirmedAt",
                        "receivedAt",
                        "readAt",
                        "playedAt",
                        "failedAt",
                        "failureReason"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "scheduled-messages.update"
      },
      "delete": {
        "tags": [
          "Scheduled Messages"
        ],
        "summary": "Delete scheduled message",
        "description": "Delete a scheduled or queued message so it will not be sent. Soft-deletes the message (and records a cancellation in its delivery log). Returns 404 if no pending/queued message with this id is owned by the caller.",
        "security": [
          {
            "BearerAuth": [
              "messages:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ],
                      "description": "Always `true` on success responses."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Id of the deleted message."
                        },
                        "deleted": {
                          "type": "boolean",
                          "enum": [
                            true
                          ],
                          "description": "Always true on a successful delete."
                        }
                      },
                      "required": [
                        "id",
                        "deleted"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "scheduled-messages.delete"
      }
    },
    "/v1/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "List webhooks",
        "description": "List webhooks in the workspace.",
        "security": [
          {
            "BearerAuth": [
              "webhooks:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction by timestamp: `asc` (oldest first) or `desc` (newest first, default)."
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Number of items to skip before the page (default 0)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Page size (default 50, max 200)."
          }
        ],
        "responses": {
          "200": {
            "description": "list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ],
                      "description": "Always `true` on success responses."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "events": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "description": {
                            "type": "string",
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "enabled",
                              "disabled"
                            ]
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "url",
                          "events",
                          "description",
                          "status",
                          "createdAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Page size echoed back from the request."
                    },
                    "skip": {
                      "type": "integer",
                      "description": "Offset echoed back from the request."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of items matching the query, across all pages."
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "limit",
                    "skip",
                    "total"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "webhooks.list"
      },
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create webhook",
        "description": "Register a new webhook.",
        "security": [
          {
            "BearerAuth": [
              "webhooks:write"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "message.queued",
                        "message.sending",
                        "message.delivered",
                        "message.failed",
                        "message.read",
                        "session.connected",
                        "session.disconnected",
                        "campaign.started",
                        "campaign.paused",
                        "campaign.resumed",
                        "campaign.completed",
                        "campaign.aborted",
                        "new_message_received_webhook",
                        "message_reaction_webhook",
                        "ack_changed_webhook",
                        "participant_joined_via_link_webhook",
                        "participant_added_by_admin_webhook",
                        "participant_left_group_webhook",
                        "participant_kicked_from_group_webhook",
                        "group_admin_changed_webhook",
                        "group_name_changed_webhook",
                        "group_description_changed_webhook",
                        "group_message_pinned_webhook",
                        "poll_vote_webhook",
                        "reply_to_my_message_webhook",
                        "message_deleted_revoked_webhook",
                        "message_edited_webhook"
                      ]
                    },
                    "minItems": 1
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 120
                  }
                },
                "required": [
                  "url",
                  "events"
                ],
                "additionalProperties": false
              },
              "examples": {
                "delivery_status": {
                  "summary": "Subscribe to delivery lifecycle events",
                  "value": {
                    "url": "https://example.com/webhooks/blueticks",
                    "events": [
                      "message.queued",
                      "message.sending",
                      "message.delivered",
                      "message.read",
                      "message.failed"
                    ],
                    "description": "Delivery lifecycle stream"
                  }
                },
                "inbound_messages": {
                  "summary": "Receive inbound messages",
                  "value": {
                    "url": "https://example.com/webhooks/inbound",
                    "events": [
                      "new_message_received_webhook"
                    ],
                    "description": "Inbound message stream"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ],
                      "description": "Always `true` on success responses."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "events": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "enabled",
                            "disabled"
                          ]
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "url",
                        "events",
                        "description",
                        "status",
                        "createdAt"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "webhooks.create"
      }
    },
    "/v1/webhooks/{id}": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Get webhook",
        "description": "Get a webhook by id.",
        "security": [
          {
            "BearerAuth": [
              "webhooks:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "webhook",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ],
                      "description": "Always `true` on success responses."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "events": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "enabled",
                            "disabled"
                          ]
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "url",
                        "events",
                        "description",
                        "status",
                        "createdAt"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "webhooks.get"
      },
      "patch": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Update webhook",
        "description": "Update a webhook.",
        "security": [
          {
            "BearerAuth": [
              "webhooks:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "maxLength": 2048
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "message.queued",
                        "message.sending",
                        "message.delivered",
                        "message.failed",
                        "message.read",
                        "session.connected",
                        "session.disconnected",
                        "campaign.started",
                        "campaign.paused",
                        "campaign.resumed",
                        "campaign.completed",
                        "campaign.aborted",
                        "new_message_received_webhook",
                        "message_reaction_webhook",
                        "ack_changed_webhook",
                        "participant_joined_via_link_webhook",
                        "participant_added_by_admin_webhook",
                        "participant_left_group_webhook",
                        "participant_kicked_from_group_webhook",
                        "group_admin_changed_webhook",
                        "group_name_changed_webhook",
                        "group_description_changed_webhook",
                        "group_message_pinned_webhook",
                        "poll_vote_webhook",
                        "reply_to_my_message_webhook",
                        "message_deleted_revoked_webhook",
                        "message_edited_webhook"
                      ]
                    },
                    "minItems": 1
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 120,
                    "nullable": true
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "enabled",
                      "disabled"
                    ]
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ],
                      "description": "Always `true` on success responses."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        },
                        "events": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "description": {
                          "type": "string",
                          "nullable": true
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "enabled",
                            "disabled"
                          ]
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "url",
                        "events",
                        "description",
                        "status",
                        "createdAt"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "webhooks.update"
      },
      "delete": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Delete webhook",
        "description": "Delete a webhook.",
        "security": [
          {
            "BearerAuth": [
              "webhooks:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ],
                      "description": "Always `true` on success responses."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "deleted": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "deleted"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "webhooks.delete"
      }
    },
    "/v1/audiences": {
      "get": {
        "tags": [
          "Audiences"
        ],
        "summary": "List audiences",
        "description": "List the audiences in your workspace, newest first. Offset-paginated via `limit` + `skip`. Requires `audiences:read`.",
        "security": [
          {
            "BearerAuth": [
              "audiences:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            },
            "description": "Sort direction by timestamp: `asc` (oldest first) or `desc` (newest first, default)."
          },
          {
            "name": "skip",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            },
            "description": "Number of items to skip before the page (default 0)."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "description": "Page size (default 50, max 200)."
          }
        ],
        "responses": {
          "200": {
            "description": "audiences",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ],
                      "description": "Always `true` on success responses."
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "contactCount": {
                            "type": "integer",
                            "minimum": 0
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "contactCount",
                          "createdAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "limit": {
                      "type": "integer",
                      "description": "Page size echoed back from the request."
                    },
                    "skip": {
                      "type": "integer",
                      "description": "Offset echoed back from the request."
                    },
                    "total": {
                      "type": "integer",
                      "description": "Total number of items matching the query, across all pages."
                    }
                  },
                  "required": [
                    "success",
                    "data",
                    "limit",
                    "skip",
                    "total"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "audiences.list"
      },
      "post": {
        "tags": [
          "Audiences"
        ],
        "summary": "Create audience",
        "description": "Create a new audience. Returns the audience with `contactCount: 0`. Requires `audiences:write`.",
        "security": [
          {
            "BearerAuth": [
              "audiences:write"
            ]
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "contacts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "to": {
                          "type": "string",
                          "description": "Recipient. Either a phone number in international format (e.g. +14155551234) or a WhatsApp JID (e.g. 14155551234@c.us). Stored in international format."
                        },
                        "variables": {
                          "type": "object",
                          "additionalProperties": {
                            "type": "string",
                            "maxLength": 1024
                          },
                          "description": "Per-contact substitution values used by campaign templates.\nEach key becomes a token usable as `{key}` in a campaign `text`. Lookup is case-insensitive (e.g. `{firstName}` resolves `firstname`).\nBuilt-in tokens always available regardless of variables: `{whatsappname}`, `{displayname}`, `{phone}`, `{mobile}`. Setting a variable with the same name overrides the built-in.\nStorage: keys are persisted as text-cell column titles on the audience board, so values flow back via audiences.get under the same names.\nLimits: at most 32 keys per contact; values up to 1024 chars; keys must match /^[A-Za-z_][A-Za-z0-9_]{0,31}$/."
                        }
                      },
                      "required": [
                        "to"
                      ],
                      "additionalProperties": false
                    },
                    "maxItems": 1000
                  }
                },
                "required": [
                  "name"
                ],
                "additionalProperties": false
              },
              "examples": {
                "empty": {
                  "summary": "Empty audience (add contacts later)",
                  "value": {
                    "name": "Q4 Newsletter Recipients"
                  }
                },
                "with_contacts": {
                  "summary": "Audience seeded with contacts and variables",
                  "value": {
                    "name": "Q4 Newsletter Recipients",
                    "contacts": [
                      {
                        "to": "+15555550100",
                        "variables": {
                          "firstname": "Alex",
                          "plan": "pro"
                        }
                      },
                      {
                        "to": "+15555550101",
                        "variables": {
                          "firstname": "Sam",
                          "plan": "free"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ],
                      "description": "Always `true` on success responses."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "contactCount": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "contactCount",
                        "createdAt"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid params or body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "API key lacks the required scope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed — see `error.details` for per-field issues.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded — back off and retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "operationId": "audiences.create"
      }
    },
    "/v1/audiences/{id}": {
      "get": {
        "tags": [
          "Audiences"
        ],
        "summary": "Get audience",
        "description": "Retrieve a single audience by id, including its `contactCount` and variable schema. Requires `audiences:read`.",
        "security": [
          {
            "BearerAuth": [
              "audiences:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "audience",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "enum": [
                        true
                      ],
                      "description": "Always `true` on success responses."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "name": {
                          "type": "string"
                        },
                        "contactCount": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "createdAt": {
[...]
